/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    /* border: #f50000 1px inset; */
}

:root {
    /* Colors */
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;

    /* Text configuration  */
}

.fa-solid {
    color: var(--main-color);
}

a{
    text-decoration: none;
    color: #000;
}

a{
    text-decoration: none;
    color: #000;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}



.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ********/

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header__logo {
    width: 3.8rem;
    height: 1.2rem; 
    padding: 30px 50px;
}

.header__nav-item {
    display: inline-block;
    margin: 0px 25px;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    padding-top: 5px;
    border-top: 2px solid transparent;
    display: inline-block;
    transition: border-color 0.3s ease; /* Ajout d'une petite animation pour le changement de couleur */
}

.header__nav-item:hover, 
.header__nav-item:focus, 
.header__nav-item:active {
    border-top-color: var(--main-color); /* change la couleur de la bordure lors du survol, de la sélection ou du clic */
    color: var(--main-color); /* change la couleur du texte lors du survol, de la sélection ou du clic */
}
 
/******* Info Group *****/

.infogroup__headline-title{
    margin-bottom: 0px;
}
.infogroup__search {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centre les éléments sur la ligne de base transversale */
    max-width: 400px;
    height: 50px; /* Définit la hauteur de la barre de recherche */
    border-radius: 10px;
    padding-top: 20px;
    box-sizing: border-box;
}



.infogroup__search--icon {
    min-width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    display: flex; /* Utiliser Flexbox pour centrer l'icône */
    align-items: center; /* Centrer l'icône verticalement */
    justify-content: center; /* Centrer l'icône horizontalement */
    border-top-left-radius: 15px; /* Arrondir le coin supérieur gauche */
    border-bottom-left-radius: 15px; /* Arrondir le coin inférieur gauche */
}

.infogroup__search--icon .fa-solid {
    color: black ; /* Pour l'icône */
}

.infogroup__search--input input{
    border: 0; /* Pas de bordure */
    outline: none; /* Supprime l'indicateur de focus du navigateur */
    box-shadow: none; /* Supprime toute ombre interne */
    background-color: white; /* Fond blanc */
    font-size: 18px; /* Taille de police de 18px */
    font-style: normal; /* Style de police normal */
    font-weight: normal; /* Poids de la police normal */
}

.infogroup__search--input input::placeholder {
    font-weight: 700; /* Poids de la police de 700 pour le placeholder */
    color: black;
    padding: 0 24px 0 24px;
}

.infogroup__search--input input:focus::placeholder {
    color: transparent; /* Rend le placeholder transparent lors de la mise au point */
}

.infogroup__search-button button{
    background: none; /* Pas de couleur d'arrière-plan */
    border: none; /* Pas de bordure */
    height: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    color: inherit; /* Utilise la couleur de l'élément parent */
    padding: 0 21px 0 21px; /* Pas de rembourrage */
    border-radius: 0px 15px 15px 0px; /* Bordure arrondie à droite */
    border: 1px solid var(--blue, #0065FC); /* Bordure de couleur bleue */
    background: var(--blue, #0065FC); /* Arrière-plan de couleur bleue */
    color: white; /* Texte de couleur blanche pour contraster avec l'arrière-plan bleu */
    cursor: pointer; /* Affiche un pointeur de souris lorsqu'on survole */
}


/****** Filter **********/



.infogroup__filter {
    display: flex;
    justify-content:flex-start;
    margin-top: 30px;
    align-items: center;
}

.infogroup__filter-button{
    display:flex;
    gap: 15px;
    padding-left: 15px;
    flex-wrap: wrap;

}
.infogroup__filter button{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background: none;
    height: 42px;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    padding: 0px 19px 0px 19px;
    font-weight: bold;
}


.infogroup__filter .fa-solid{
    width: 1.37rem;
    height: 1.37rem;
    margin-top: 0.68rem;
}

.infogroup__filter button:hover{
    background-color: #deebff;
}
/****infobar*******/

.infogroup__infobar-icon {
    border-radius: 100%;
    border: 1px solid grey;
    height: 24px;
    width: 24px;
}

.infogroup__infobar{
    display: flex;
    align-items: center;
}

.infogroup__infobar-icon i{
    padding-left: 8px;
    padding-top: 2px;
}

.infogroup__infobar-text{
    padding-left: 15px;
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.infogroup__infobar{
    padding: 1.9rem 0 1.9rem 0;
}

.infogroup__filter-button{
    display: flex;
    justify-content: space-between;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 30px;
    margin-bottom: 30px;
}

.hebergements-title{
    padding-bottom: 30px;
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Ajoute un espacement de 30px entre les éléments */
}

.hebergements .card {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-shadow: 0px 5px 10px #d0d0d0;
    width: calc((100% / 3) - 30px);
}

.hebergements .card img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.hebergements .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    
}

.hebergements .card-title {
    font-size: 16px; /* Ajustez la taille de la police du titre */
    font-weight: 700; /* Rend le titre en gras */
    margin: 0px;
}

.hebergements .card-subtitle {
    font-size: 0.9em; /* Ajustez la taille de la police du sous-titre */
    margin-top: 10px;

}

.hebergements .card-rating {
    display: flex;
    font-size: 0.8em;
    align-items: center;
    
}

.hebergements .card-rating .fa-solid {
    color: #0065fc;
}

.hebergements .card-rating .neutral-star {
    color: #f2f2f2;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}


.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/**************Activity******************/
.activity{
    padding: 30px;
}

.activity__card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; /* padding around each card */

}

.activity__card a h3 {
    color: black;
    text-decoration: none;
}

.activity__tittle{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.activity__card .card img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.activity__card-subtitle{
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}


/********** Footer *****************/
footer {
    display: flex;
    justify-content: space-between; /* Ajustez l'espacement entre les éléments */
    padding: 20px; /* Espacement intérieur autour du contenu */
    background-color: #f9f9f9; /* Couleur de fond du pied de page */
    margin-top: 35px;
  }
  
  .footer__about,
  .footer__hebergements,
  .footer__assistance {
    width: 30%; /* Réglez la largeur de chaque section */
  }
  
  .footer__about-title h3,
  .footer__hebergements-title h3,
  .footer__assistance-title h3 {
    font-size: 18px; /* Taille de police pour les titres */
    margin-bottom: 15px; /* Espacement sous les titres */
  }
  
  .footer__about-link a,
  .footer__hebergements-link a,
  .footer__assistance-link a {
    text-decoration: none; /* Supprime les soulignements des liens */
    color: #333; /* Couleur du texte des liens */
    margin-bottom: 15px; /* Espacement entre les liens */
    display: block; /* Fait que chaque lien soit sur une nouvelle ligne */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    
    .infogroup__filter {
        flex-direction: column;
        align-items: flex-start;
    }
    

    .infogroup__headline-title{
        max-width: 80%;
        font-size: 1.3rem;
    }

    
    .activity__card .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }

    .infogroup__filter-button{
        padding: 0px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {


    .main-container{
        padding: 0px;
    }


    /************Header****************/
    header{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .header__nav-item {
        display: inline-block;
        margin: 0px 25px;
        font-size: 16px;
        text-decoration: none;
        color: #000;
        padding-top: 30px;
        border-bottom: 2px solid transparent;
        display: inline-block;
        transition: border-color 0.3s ease; /* Ajout d'une petite animation pour le changement de couleur */
    }
    
    .header__nav-item:hover, 
    .header__nav-item:focus, 
    .header__nav-item:active {
        border-top-color: var(--main-color); /* change la couleur de la bordure lors du survol, de la sélection ou du clic */
        color: var(--main-color); /* change la couleur du texte lors du survol, de la sélection ou du clic */
    }

    header {
        display: flex;
        justify-content: center; /* Centre horizontalement les éléments */
        align-items: center;     /* Centre verticalement les éléments */
        width: 100%;
    }
    

    .header__nav-item {
        border-top: none; /* Supprime la bordure supérieure */
        padding-bottom: 10px;
        justify-content: space-around;
        
    }
    .header__nav-item:hover, 
    .header__nav-item:focus, 
    .header__nav-item:active {
        border-bottom: 2px solid var(--main-color); /* Ajoute une bordure inférieure */
    }
/***************Info group***********************************/


    .infogroup{
        padding: 20px;
    }



/****************Hebergement*********************************/
    .hebergements{
        background-color: grey;
        order: 3;
        padding: 20px;
        /* width: 100%; */
        
    }
    .hebergements-card{
        flex-direction: column;
    }

    .hebergements-card .card{
        width: 100%;
        height: 192px; 
    }

/***************Populaire ************************/    
    .populaires{

    }
    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards .card{
        width: 100%;
    }

/****************Activity************************/
    .activity__card{
        display: flex;
        flex-direction: column;
    }

}
    
