/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    color: black;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.neutral-star {
    color: var(--main-bg-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

.links {
    text-decoration: none;
}

.links:visited {
    color: black;
}

.links:active{
    color: black;
}

/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;
    height :79px;
    margin: 0px -50px 30px -50px;
}

.header-logo {
    height: 19px;
    padding: 50px;
}

.header-nav {
    display: flex;
    justify-content: center;
    width: 19%;
    height: 35px;
    padding: 0 25px;
}

.header-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
    width: 244px;
    height: 35px;
    margin: 0;
    padding: 0;
}

.header-link { 
    padding-top: 14px;
}
 
.header-link:hover {
    color: var(--main-color);
    border-top: 2px var(--main-color) solid;
}

/****** Recherche And Filtres ***********/
.recherche-and-filtres {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 35px;
    gap: 35px;
}

/****** Recherche ***********/
.recherche-title .section-title {
    margin: 0px 0px 8px 0px;
}

.recherche-title p {
    margin: 0px;
}

.recherche-bar {
    display: flex;
    width: 377px;
    height: 48px;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    border-radius: 15px;
}
   
.recherche-location-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50px;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
    background-color: var(--main-bg-color);
}

.fa-location-dot {
    color:black;
}

.recherche-box {
    display: flex;
    flex-grow: 1;
    width: 195px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

::placeholder {
    color:black;
    opacity: 1;
}

.recherche-button {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-basis: 132px;
    height: 50px;
    padding: 0;
    margin: -1px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    cursor: pointer; 
}

.recherche-button-text {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.recherche-button-loupe {
    display: none;
}

/****** Filtres ***********/
.filtres-bar {
    display: flex;
    gap: 15px;
}

.filtres-title {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
 }

.filtres-buttons {
    display: flex;
    justify-content:space-between;
    gap: 15px;
}

.filtres-button {
    display: flex;
    align-items: center;
    height: 46px;
    padding: 0 20px;
    border : 2px solid #d9d9d9;
    border-radius: 25px;
}

.filtres-button .fa-solid{
    font-size: 20px;
}

.filtres-button-text {
    padding-left:10px;
    font-size: 17px;
    font-weight: 700;
}

.filtres-button:hover {
    background-color: var(--filter-bg-color);
}

.filtres-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filtres-info-icone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    border: 1px solid var(--main-bg-color);
    border-radius: 100px;
}

.filtres-info .fa-solid{
    font-size: 10px;
}

.filtres-info p {
    margin: 0px;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.hebergements-cards .links {
    display: block;
    width: 30.8%;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 30px;    
    height: 214px
}

.hebergements-cards img {
    width: 100%;
    height: 119px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    padding: 9px 10px 0 10px;
    height: 40%;
    gap: 8px;
}

.hebergements-cards .card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hebergements-cards .card-title {
    margin: 0px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
} 

.hebergements-cards .card-rating {
    height: 15px;
    margin-bottom: 10px;
}

.afficher-plus {
    margin: 0px;
}

.afficher-plus-text {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.populaires-title .fa-solid {
    font-size: 18px;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/

.activites {
    margin-bottom: 35px;
}

.activites-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.activites-cards .links {
    width: 25%; 
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: 439px;
    padding: 0;
}

.activites-cards img {
    width: 100%;
    height: 86.5%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 19px;
    padding-right: 19px;
    height: 13.5%;
}

/****** Footer ***********/
footer {
    display: flex;
    background-color: var(--main-bg-color);
}

.footer-section {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 20px;
}

.footer-title {
    margin: 0 0 15px 0;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .header-logo {
        padding-left: 50px;
    }

    .header-nav {
        width: 24%;
        padding: 0 50px;
    }

    .filtres-bar {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .filtres-title{
        margin: 0px;
    }

    .filtres-button-text {
        font-size: 16px; 
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .populaires-cards .links {
        width: 31.5%;
    }

    .populaires-cards .card {
        margin-top: 20px;
    }

    .activites-cards .card {
        height: 270px;
    }

    .activites-cards img {
        height: 74%;
    }

    .activites-cards .card-content {
        height: 26%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0px;
    }

    /****** header - MOBILE ***********/
    header {
        flex-direction: column;
        height: 115px;
        align-items: center;
        margin: 0px 0px 60px 0px;    }

    .header-logo {
       padding-left: 30px; 
    }

    .header-nav {
        width: 100%;
        justify-content: center;
        padding: 0px;
    }

    .header-list {
        width: 100%;
        align-items: flex-start;
    }

    .header-list li {
        width: 50%;
    }

    .header-link {
        display: block;
        text-align: center;
        width: 100%;
        padding-bottom: 14px;
        padding-top:0;
        border-bottom: 2px var(--main-bg-color) solid;
    }

    .header-link:hover {
        color: var(--main-color);
        border-bottom: 2px var(--main-color) solid;
        border-top : none;
    }

    /****** Recherche and filtres - MOBILE ***********/
    .recherche-and-filtres{
        margin: 0 20px 35px 20px;
    }
    .recherche-bar {
        width: 100%;
    }

    .recherche-box {
        padding-left: 24px;
        text-align: left;
    }

    .recherche-button {
        flex-basis: 50px;
        border-radius: 15px;
    }

    .recherche-button-text {
        display: none;
    }

    .recherche-button-loupe {
        display: flex;
        color: white;
        font-size: 16px;
    }

    .filtres-bar {
        gap: 0px;
    }

    .filtres-buttons {
        flex-wrap: wrap;
        width: 100%;
        gap: 0px;
    }

    .filtres-button {
        width: 34%;
        margin-top: 20px;
    }

    .filtres-button-text {
        font-size: 14px; 
    }

    .filtre-info{
        width: 100%;
    }

    .filtres-info p{
        width: 90%;
    }

    /****** Hebergements and populaires - MOBILE ***********/
    .hebergements-and-populaires {
    flex-direction: column-reverse;
    margin-bottom: 25px;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
        padding: 30px 20px;
    }

    .populaires {
        margin-top:0;
    }

    .populaires-cards {
        flex-direction: column;
        gap : 0px;
    }

    .populaires-cards .card {
        margin-top: 15px;
    }

    .populaires-cards .links {
        width: 100%;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .hebergements-cards {
        flex-direction: column;
        margin-bottom: 15px;
    }

    .hebergements-cards .links{
        width: 100%;
    }

    .hebergements-cards .card{
        margin-top: 15px;
    }

    /****** Activites - MOBILE ***********/
    .activites{
        margin-bottom: 35px;
    }

    .activites-cards {
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .activites-cards .links {
        width: 100%;
    }

    .activites-cards .card {
        margin-top: 0px;
        height: 200px;
    }

    .activites-cards img {
        height: 70.5%;
    }

    /****** Footer - MOBILE **********/
    footer {
        flex-direction: column;
        padding: 30px;
        gap: 50px;
    }

    .footer-section {
        width: 100%;
        padding: 0px;
    }

}