/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    /* box-shadow: 0 0 0 1px red inset; */
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

a{
    text-decoration: none;
    color: #000;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ********/

header {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin-bottom: 30px;
}

.header__logo {
    padding-top: 30px;
    width: 61px;
    height: 19px; 
}

.header__nav-item {
    display: inline-block;
    margin: 0px 25px;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    padding-top: 10px;
    border-top: 2px solid transparent;
    display: inline-block;
    transition: border-color 0.3s ease; /* Ajout d'une petite animation pour le changement de couleur */
}

.header__nav-item:hover, 
.header__nav-item:focus, 
.header__nav-item:active {
    border-top-color: var(--main-color); /* change la couleur de la bordure lors du survol, de la sélection ou du clic */
    color: var(--main-color); /* change la couleur du texte lors du survol, de la sélection ou du clic */
}
 
/******* Info Group *****/

.infogroup__search {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centre les éléments sur la ligne de base transversale */
    width: 400px;
    height: 50px; /* Définit la hauteur de la barre de recherche */
    border-radius: 10px;
    padding-top: 20px;
    box-sizing: border-box;
}
.infogroup__headline--subtitle{
    margin-top: -10px;
}

.infogroup__headline--subtitle{
    height: 50px;
}

.infogroup__search--icon {
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    display: flex; /* Utiliser Flexbox pour centrer l'icône */
    align-items: center; /* Centrer l'icône verticalement */
    justify-content: center; /* Centrer l'icône horizontalement */
    border-top-left-radius: 15px; /* Arrondir le coin supérieur gauche */
    border-bottom-left-radius: 15px; /* Arrondir le coin inférieur gauche */
}

.infogroup__search--icon .fa-solid {
    color: black ; /* Pour l'icône */
}

.infogroup__search--input input{
    border: 0; /* Pas de bordure */
    outline: none; /* Supprime l'indicateur de focus du navigateur */
    box-shadow: none; /* Supprime toute ombre interne */
    background-color: white; /* Fond blanc */
    font-size: 18px; /* Taille de police de 18px */
    font-style: normal; /* Style de police normal */
    font-weight: normal; /* Poids de la police normal */
}

.infogroup__search--input input::placeholder {
    font-weight: 700; /* Poids de la police de 700 pour le placeholder */
    color: black;
    padding: 0 24px 0 24px;
}

.infogroup__search--input input:focus::placeholder {
    color: transparent; /* Rend le placeholder transparent lors de la mise au point */
}

.infogroup__search--button button{
    background: none; /* Pas de couleur d'arrière-plan */
    border: none; /* Pas de bordure */
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: inherit; /* Utilise la couleur de l'élément parent */
    padding: 0 21px 0 21px; /* Pas de rembourrage */
    border-radius: 0px 15px 15px 0px; /* Bordure arrondie à droite */
    border: 1px solid var(--blue, #0065FC); /* Bordure de couleur bleue */
    background: var(--blue, #0065FC); /* Arrière-plan de couleur bleue */
    color: white; /* Texte de couleur blanche pour contraster avec l'arrière-plan bleu */
    cursor: pointer; /* Affiche un pointeur de souris lorsqu'on survole */
}


/****** Filter **********/


.infogroup__filter {
    width: 760px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}

.infogroup__filter button{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background: none;
    height: 42px;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    padding: 0px 19px 0px 19px;
    font-weight: bold;
}

.infogroup__filter .fa-solid{
    width: 22px;
    height: 22px;
    margin-top: 11px;
}

.infogroup__filter button:hover{
    background-color: #deebff;
}
/****infobar*******/

.infogroup__infobar-icon {
    border-radius: 100%;
    border: 1px solid grey;
    height: 24px;
    width: 24px;
}

.infogroup__infobar{
    display: flex;
    align-items: center;
}

.infogroup__infobar-icon i{
    padding-left: 8px;
    padding-top: 2px;
}

.infogroup__infobar-text{
    padding-left: 15px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.infogroup__infobar{
    padding-bottom: 30px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.hebergements-title{
    padding-bottom: 30px;
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Ajoute un espacement de 30px entre les éléments */
}

.hebergements .card {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-shadow: 0px 5px 10px #d0d0d0;
    width: calc((100% / 3) - 30px);
}

.hebergements .card img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.hebergements .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    
}

.hebergements .card-title h3{
    font-size: 16px; /* Ajustez la taille de la police du titre */
    font-weight: 700; /* Rend le titre en gras */
}

.hebergements .card-subtitle {
    font-size: 0.9em; /* Ajustez la taille de la police du sous-titre */
}

.hebergements .card-rating {
    display: flex;
    font-size: 0.8em;
}

.hebergements .card-rating .fa-solid {
    color: #0065fc;
}

.hebergements .card-rating .neutral-star {
    color: #f2f2f2;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}


.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/**************Activity******************/

.activity__card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; /* padding around each card */
}

.activity__card a h3 {
    color: black;
    text-decoration: none;
}

.activity__tittle{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.activity__card .card img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.activity__card-subtitle{
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}